.contact{
    display: flex;
    background: url(https://via.placeholder.com/490x800) right center no-repeat;

}

.contact__left{
    width: 47%;
    padding: 30px;
}

.contact__info{
    font-size: 14px;
    color: @black;
    font-weight: 300;
    margin: 30px 0 45px;
    padding: 0;
    list-style: none;
}

.contact__info-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:last-child{
        margin-bottom: 0;
    }
}

.contact__item-ico{
    margin-right: 10px;
}